<div class="container">
  <div class="form-with-bonus-action-wrapper">
    <%= simple_form_for(resource, as: resource_name, 
        url: registration_path(resource_name),
        html: { class: "happy_thing form mt-4 p-3" }) do |f| %>

      <h1 class="session-manager-header">Let's get you an Account!</h1>
      
      <div class="form-group">
          <%= f.error_notification %>
      </div>

      <div class="form-inputs w-100">
        <%= f.input :first_name,
                    label: false,
                    placeholder: "Name",
                    required: true, 
                    input_html: { autocomplete: "first-name" } %> 
        <%= f.input :emoji,
                    label: false,
                    placeholder: "Emoji",
                    required: true %>
        <%= f.input :email,
                    label: false,
                    placeholder: "Email",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    label: false,
                    placeholder: t('simple_form.users.new.placeholders.password'),
                    required: true,
                    hint: simple_format(t('simple_form.users.new.hints.password')),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: false,
                    placeholder: t('simple_form.users.new.placeholders.password_confirmation'),
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :avatar, as: :file,
                    label: t('simple_form.users.new.labels.avatar'),
                    required: false %>

        <!-- Consent checkboxes -->
        <%= f.input :email_opt_in, as: :boolean, required: false,
                    label: t('simple_form.users.new.labels.email_opt_in') %>
        <%= f.input :location_opt_in, as: :boolean, required: false,
                    label: t('simple_form.users.new.labels.location_opt_in') %>
      </div>

      <%= f.button :submit, "Sign up", class: "btn button--primary w-100 border-0", data: { turbo: false } %>
    <% end %>

    <div class="bonus-actions">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
