<%= simple_form_for happy_thing, html: { 
  class: "happy_thing form mt-4 p-3", 
  data: { controller: "user-location", user_location_target: "form" },
  style: "display: flex; flex-direction: column; align-items: center;"
} do |f| %>
  <% if happy_thing.errors.any? %>
    <div class="error-message" style="max-width: 480px; width: 100%;">
      <%= happy_thing.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div style="width: 100%; max-width: 480px;">
    <%= f.input :title, input_html: { autofocus: true } %>
  </div>

  <div style="width: 100%; max-width: 480px;">
    <%= f.input :category_id, collection: Category.all, prompt: "Select a category" %>
  </div>

  <div style="width: 100%; max-width: 480px;">
    <%= f.input :photo, as: :file, input_html: { class: 'custom-file-upload' } %>
  </div>

  <div style="width: 100%; max-width: 480px;">
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :place %>
    <%= f.input :share_location, as: :boolean, label: 'Share my location',
                input_html: { data: { action: "user-location#toggle" } } %>
  </div>

  <div style="width: 100%; max-width: 480px;">
    <%= f.input :shared_with_ids, as: :select,
                collection: grouped_visibility_options(current_user),
                label: "Who should see this?",
                input_html: {
                  multiple: true,
                  data: {
                    controller: "select",
                    select_options_value: {
                      create: true,
                      persist: false
                    }.to_json
                  }
                },
                prompt: "Everyone (unless selected below)" %>
  </div>

  <% if params[:action] == 'edit' %>
    <div style="width: 100%; max-width: 480px;">
      <%= f.input :place %>
    </div>
  <% end %>

  <%= f.submit class: "btn button--primary m-2", 
      style: "max-width: 480px; width: 100%;",
      data: { action: "timezone#onHappyThingFormSubmit" } %>
<% end %>
