<%= simple_form_for happy_thing, html: {
  class: "form-card__body",
  data: { controller: "user-location", user_location_target: "form" }
} do |f| %>
  <% if happy_thing.errors.any? %>
    <div class="error-message">
      <%= happy_thing.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="form-card__field">
    <%= f.input :title, input_html: { autofocus: true } %>
  </div>

  <div class="form-card__field">
    <%= f.input :category_id, collection: Category.all, prompt: t('happy_things.select_category') %>
  </div>

  <div class="form-card__field form-card__field--file">
    <%= f.input :photo, as: :file, input_html: { class: 'custom-file-upload' } %>
  </div>

  <div class="form-card__field form-card__field--checkbox">
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :place %>
    <%= f.input :share_location, as: :boolean, label: t('happy_things.share_location'),
                input_html: { data: { action: "user-location#toggle" } } %>
  </div>

  <% if current_user %>
    <% visibility_options = grouped_visibility_options(current_user) %>
    <% if visibility_options.any? %>
      <div class="form-card__field form-card__field--visibility">
        <div class="form-card__visibility-header">
          <span class="form-card__visibility-icon">👥</span>
          <span><%= t('happy_things.who_should_see') %></span>
        </div>
        <%= f.input :shared_with_ids, as: :select,
                    collection: visibility_options,
                    label: false,
                    include_blank: false,
                    input_html: {
                      multiple: true,
                      data: {
                        controller: "select",
                        select_placeholder_value: t('happy_things.everyone_prompt')
                      }
                    } %>
      </div>
    <% end %>
  <% end %>

  <% if params[:action] == 'edit' %>
    <div class="form-card__field">
      <%= f.input :place %>
    </div>
  <% end %>

  <%= f.submit class: "btn button--primary form-card__submit" %>
<% end %>
