<%= turbo_frame_tag happy_thing do %>

    <%= link_to happy_thing_path(happy_thing), class: "text-decoration-none" do %>
      <div class="happy_thing shadow">
        <%= happy_thing.title.truncate(20) %>
        <div class="happy_thing_creator">
          <p class="">✏️ By: <%= happy_thing.user.first_name  %></p>
        </div>
    <% end %>

    <div class="happy_thing__actions">
      <%= button_to "X",
                    happy_thing_path(happy_thing),
                    method: :delete,
                    data: { turbo_frame: "happy_things_frame_after_create"},
                    class: "btn btn--light" %>
        <%= link_to "Edit", edit_happy_thing_path(happy_thing), class: "btn btn--light edit-link" %>

    </div>
  </div>

<% end %>
