<%= link_to happy_thing_path(happy_thing) do %>
    <% if use_long_title_layout?(happy_thing) %>
        <div class="happy_thing_for_long_title">
            <div>
                <%= happy_thing.title %>
            </div>
            <div class="happy_thing_metadata_bottom">
                <div class="happy_thing_photo_emoji">
                    <%= "ðŸ“¸" if happy_thing.photo.attached? %><%= "ðŸ“" if happy_thing.comments.any? %>
                </div>
                <div class="happy_thing_date">
                    <%= friendly_date(happy_thing.start_time) %>
                </div>
            </div>
        </div>
    <% else %>
        <div class="happy_thing">
            <div>
                <%= happy_thing.title %>
            </div>
            <div class="happy_thing_metadata_right">    
                <div class="happy_thing_photo_emoji">
                    <%= "ðŸ“¸" if happy_thing.photo.attached? %><%= "ðŸ“" if happy_thing.comments.any? %>
                </div>
                <div class="happy_thing_date">
                    <%= friendly_date(happy_thing.start_time) %>
                </div> 
            </div>
        </div>
    <% end %>
<% end %>
