<div class="container analytics mt-5">
  <%= link_to sanitize("&larr;"), root_path, class: "btn btn-blue mb-3" %>
    <h1 class="title">My Profile</h1>

      <div class="d-flex justify-content-center mt-3">
        <%= cl_image_tag current_user.avatar.key,
        style: "border-radius: 50%; width: 200px; height: 100%;",
        class: "pb-3",
        alt: "User Avatar",
        transformation: [
          { aspect_ratio: :"1.0", crop: :fill, gravity: :face },
          { radius: :max }
          ] unless current_user.avatar.key.nil? %>
      </div>

      <div class="dash-box p-4 mx-2 my-3">
        <h2><%= current_user.emoji %> <%= current_user.first_name %></h2>
      </div>

      <div class="dash-box p-4 mx-2 my-3">
        <h2>Happy Count</h2>
          <div class="happy-count d-flex justify-content-center">
            <%= @happy_count %>
          </div>
      </div>

      <div class="analytics-container dash-box p-4 mx-2 my-3">
        <h2>Happy Analytics</h2>
        <h3 class="mt-2">Most used words this year:</h3>
          <% if @words_for_wordcloud.present? %>
            <div class="word-cloud">
              <% @words_for_wordcloud.each do |word, frequency| %>
                <%= content_tag :span, word.capitalize, class: "word-#{frequency}" %>
              <% end %>
            </div>
          <% else %>
            <p>No words data available for this year 😔</p>
          <% end %>
      </div>

  <%= link_to "Edit Profile", edit_user_registration_path, class: "mb-5 btn nav-link bottom-icons" %>
</div>

<div id="dream-chart">
  <canvas id="dreamPieChart" data-controller="analytics"
            data-analytics-labels-value="<%#{}= @label_counts.keys %>"
            data-analytics-data-value="<%#{}= @label_counts.values %>">
  </canvas>
</div>
