<div class="container analytics my-3">
  <%= link_to sanitize("&larr;"), root_path, class: "btn button--primary mb-3" %>
    <h1 class="title">My Profile</h1>

      <div class="d-flex justify-content-center mt-3">
        <%= cl_image_tag current_user.avatar.key,
        style: "border-radius: 50%; width: 200px; height: 100%;",
        class: "pb-3",
        alt: "User Avatar",
        transformation: [
          { aspect_ratio: :"1.0", crop: :fill, gravity: :face },
          { radius: :max }
          ] unless current_user.avatar.key.nil? %>
      </div>

      <!-- Section: Profile Info -->
      <div class="dash-box p-4 mx-2 my-3">
        <h2><%= current_user.emoji %> <%= current_user.first_name %></h2>
      </div>

      <!-- Section: Happy Count -->
      <div class="dash-box p-4 mx-2 my-3">
        <h2>Happy Count</h2>
        <div class="happy-count d-flex justify-content-center">
          <%= @happy_count %>
        </div>
      </div>
      
      <!-- Section: Analytics -->
      <div class="analytics-container dash-box p-4 mx-2 my-3">
        <h2>Happy Analytics</h2>
        <h3 class="mt-2">Most used words this year:</h3>
        <% if @words_for_wordcloud.present? %>
        <div class="word-cloud">
          <% @words_for_wordcloud.each do |word, frequency| %>
          <%= content_tag :span, word.capitalize, style: "font-size: #{5 + frequency * 2}px;" %>
          <% end %>
        </div>
        <% else %>
        <p class="opacity-50">No words data available for this year 😔</p>
        <% end %>
      </div>

      <!-- Section: Happy Places -->
      <div class="analytics-container dash-box p-4 mx-2 my-3">
        <h2>Visited Happy Places</h2>
        <p>This year you have visited <%= @visited_places_count %> places. 🧳</p>
      </div>

      <!-- Mapbox Map -->
      <% if @markers %>
        <div class="rounded-map" style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      <% end %>

</div>

<%= link_to "Edit Profile", edit_user_registration_path, class: "mb-5 btn nav-link bottom-icons" %>

<div id="dream-chart">
  <canvas id="dreamPieChart" data-controller="analytics"
          data-analytics-labels-value="<%= @label_counts.keys %>"
          data-analytics-data-value="<%= @label_counts.values %>">
  </canvas>
</div>
