<div class="container mt-1" data-controller="insert-in-list">
  <div class="dash-box mx-2 my-3">
    <h1><%= time_based_greeting %> <%= current_user ? current_user.first_name : "Sunshine" %> <%= time_based_emoji %></h1>
    <div class="my-3">
      <h3>Current Happy Streak</h3>
      <p><%= pluralize(current_user.happy_streak, 'day') %></p>
    </div>

    <%= render 'happy_things/form', title: "What made you happy today?", happy_thing: @happy_thing %>

    <div id="happy_things" class="m-2 mt-5"
      data-notification-target="happyThings"
      data-insert-in-list-target="items">
      <h3 class="mb-3">Your Happy Things of today</h3>
      <% @happy_things_today.each do |user, happy_things| %>
        <h3><%= user.emoji %> <%= user.first_name %></h3>
        <% happy_things.each do |happy_thing| %>
          <%= render "happy_things/happy_thing", user: user, happy_thing: happy_thing %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>