<div class="container">
  <%= link_to sanitize("&larr;"), root_path, class: "btn btn-blue m-4" %>

  <div class="header">
    <h1>New happy thing</h1>
  </div>

  <%= simple_form_for @happy_thing, html: { class: "happy_thing form mt-4 p-3" } do |f| %>
      <!-- turbo_frame: happy_thing.persisted? ? dom_id(happy_thing) : "happy_things_display_frame"  -->
    <% if @happy_thing.errors.any? %>
      <div class="error-message">
        <%= @happy_thing.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <%= f.input :title, input_html: { autofocus: true } %>
    <%= f.input :photo, as: :file, input_html: { class: 'custom-file-upload' } %>
    <%= f.submit class: "btn btn-blue m-2" %>
  <% end %>


  <%#= turbo_frame_tag "new_happy_thing_form_frame" do %>
    <%#= render "happy_things/form", happy_thing: @happy_thing %>
  <%# end %>
</div>
