<div class="container mt-5">
  <h1>Happy Things for <%= @date.strftime('%B %d, %Y') %></h1>

  <% if @happy_things.any? %>
    <ul>
      <% @happy_things.group_by(&:user).each do |user, happy_things| %>
        <li class="list-unstyled">
          <h2><%= user.emoji %> <%= user.first_name %></h2>
          <ol>
            <% happy_things.each do |happy_thing| %>
              <li>
                <strong><%= happy_thing.title.sub(/\S/, &:upcase) %></strong>
                <%= cl_image_tag happy_thing.photo.key, class: "rounded mt-3", height: 200, width: 200, crop: :fill, gravity: :auto if happy_thing.photo.attached? %>
              </li>
            <% end %>
          </ol>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No Happy Things found for this date one year ago.</p>
    <%= link_to 'Add an old Happy Thing from last year', old_happy_thing_path, class: "btn btn-blue shadow" %>
    <!-- Add a form to allow adding a Happy Thing for this date -->
  <% end %>

  <%= link_to 'Back to Dashboard', root_path, class: "btn btn-blue" %>
</div>
