<div class="container mt-5">
  <h1>Happy Things for <%= @date.strftime('%B %d, %Y') %></h1>

  <% if @happy_things.any? %>
    <ul>
      <% @happy_things.group_by(&:user).each do |user, happy_things| %>
        <li class="list-unstyled">
          <h2><%= user.emoji %> <%= user.first_name %></h2>
          <ol>
            <% happy_things.each do |happy_thing| %>
              <li>
                <strong><%= happy_thing.title.sub(/\S/, &:upcase) %></strong>
                <%= cl_image_tag happy_thing.photo.key, class: "rounded mt-3", height: 200, width: 200, crop: :fill, gravity: :auto if happy_thing.photo.attached? %>
              </li>
            <% end %>
          </ol>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No Happy Things found for this date.</p>
  <% end %>

  <!-- Conditional Form to add a new Happy Thing, shown only if there are less than 5 happy things -->
  <% if @happy_things.count < 5 %>
    <div class="my-5">
      <h2>Forgot something? Add more Happy Things</h2>
      <%= simple_form_for(@old_happy_thing, url: happy_things_old_happy_thing_path, method: :post, html: { multipart: true }) do |f| %>
        <%= f.input :title, label: 'Title', required: true, input_html: {class: 'form-control'} %>
        <%= f.hidden_field :start_time, value: @date.strftime('%Y-%m-%d %H:%M:%S') %>
        <%= f.input :photo, as: :file, label: 'Upload Photo (optional)', input_html: {class: 'form-control-file'} %>
        <%= f.button :submit, 'Save', class: 'btn btn-success' %>
      <% end %>
    </div>
  <% end %>

  <%= link_to 'Back to Dashboard', root_path, class: "btn btn-blue" %>
</div>
