<main class="container my-3" data-controller="toggle">
  <%= link_to sanitize("&larr;"), root_path, class: "btn button--primary m-4" %>
  <div class="header d-flex justify-content-center text-center">
    <h1>
      <%= @happy_thing.title %>
      <% if @happy_thing.photo.attached? %>
        <%= cl_image_tag @happy_thing.photo.key, class: "rounded", height: 300, width: 400, crop: :fill %>
      <% end %>
    </h1>
  </div>

  <!-- Comments Section -->
  <div class="mt-3">
    <!-- Show Comments if Any -->
    <% if @happy_thing.comments.any? %>
      <div class="existing-comments">
        <h5>Comments:</h5>
        <% @happy_thing.comments.each do |comment| %>
          <div class="comment mb-2">
            <p><strong><%= comment.user.first_name %>:</strong> <%= comment.content %></p>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="opacity-80">No Comments yet.</p>
    <% end %>

    <!-- Smaller "Add a comment" Button -->
    <a data-action="click->toggle#fire" class="btn btn-sm button--primary mt-2">Add a comment...</a>

    <!-- Comments Section (Hidden by default) -->
    <div class="comments mt-3 d-none" data-toggle-target="togglableElement">
      <!-- Form to Add a New Comment -->
      <%= simple_form_for([@happy_thing, @comment], html: { class: 'mt-2' }) do |f| %>
        <div class="form-group">
          <%= f.input :content, label: false, placeholder: 'Add a comment...', input_html: { class: 'form-control' } %>
        </div>
        <%= f.button :submit, 'Add Comment', class: 'btn btn-sm button--primary mt-2' %>
      <% end %>
    </div>
  </div>
  <!-- End of Comments Section -->

  <% if @marker %>
    <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-lat-value="<%= @marker[:lat] %>"
          data-map-lng-value="<%= @marker[:lng] %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'].presence ||
            (Rails.env.development? || Rails.env.test? ? 'FAKE_MAPBOX_API_KEY' : nil) %>">
    </div>
  <% end %>
  <% if @happy_thing.user == current_user %>
    <%= link_to "Edit", edit_happy_thing_path(@happy_thing), class: "btn button--primary float-end"%>
  <% end %>
</main>
