<main class="container my-3">
  <%= link_to sanitize("&larr;"), root_path, class: "btn button--primary m-4" %>
  <div class="header d-flex justify-content-center text-center">
    <h1>
      <%= @happy_thing.title %>
      <% if @happy_thing.photo.attached? %>
        <%= cl_image_tag @happy_thing.photo.key, class: "rounded", height: 300, width: 400, crop: :fill %>
      <% end %>
    </h1>
  </div>

  <% if @marker %>
    <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-lat-value="<%= @marker[:lat] %>"
          data-map-lng-value="<%= @marker[:lng] %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'].presence ||
            (Rails.env.development? || Rails.env.test? ? 'FAKE_MAPBOX_API_KEY' : nil) %>">
    </div>
  <% end %>
  <%= link_to "Edit", edit_happy_thing_path(@happy_thing), class: "btn button--primary float-end"%>
</main>
