<main class="container my-3">
  <div class="dash-box mx-2 my-3">
    <div class="d-flex justify-content-between align-items-start mb-3">
      <h1 class="mb-0"><%= @happy_thing.title %></h1>
      <% if @happy_thing.user == current_user %>
        <%= link_to "⋮", edit_happy_thing_path(@happy_thing), class: "btn btn--light edit-link", style: "font-size: 2rem;", aria: { label: "Edit happy thing" } %>
      <% end %>
    </div>
    
    <% if @happy_thing.photo.attached? %>
      <%= cl_image_tag @happy_thing.photo.key, class: "rounded mt-3", height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <% if @marker %>
    <div class="dash-box mx-2 my-3" style="width: 100%; height: 600px; padding: 0; overflow: hidden;"
          data-controller="map"
          data-map-lat-value="<%= @marker[:lat] %>"
          data-map-lng-value="<%= @marker[:lng] %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'].presence ||
            (Rails.env.development? || Rails.env.test? ? 'FAKE_MAPBOX_API_KEY' : nil) %>">
    </div>
  <% end %>
</main>
