<div data-install-prompt-target="androidChromeEdgeNative" style="display: none;">
    <p><%= t('install_prompt.variants.android_chrome_edge.native_prefix') %> <span class="text-emphasized"><%= t('install_prompt.variants.android_chrome_edge.native_emphasized') %></span> <%= t('install_prompt.variants.android_chrome_edge.native_suffix') %></p>
</div>
<div data-install-prompt-target="androidChromeEdgeFallback" style="display: none;">
    <ol>
        <li>
            <%= t('install_prompt.variants.android_chrome_edge.fallback.step_1') %><span class="text-emphasized">
                <svg fill="currentColor" class="inline-icon inline-icon--small" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
            </span>
        </li>
        <li>
            <%= t('install_prompt.variants.android_chrome_edge.fallback.step_2_prefix') %> <span class="text-emphasized"><%= t('install_prompt.variants.android_chrome_edge.fallback.step_2_emphasized_1') %></span> <%= t('install_prompt.variants.android_chrome_edge.fallback.step_2_or') %> <span class="text-emphasized"><%= t('install_prompt.variants.android_chrome_edge.fallback.step_2_emphasized_2') %></span>
        </li>
    </ol>
</div>
