<div class="container">
  <div class="form-with-bonus-action-wrapper">
    <%= simple_form_for(resource, as: resource_name, 
        url: session_path(resource_name),
        html: { class: "happy_thing form mt-4 p-3" }) do |f| %>

      <h1 class="session-manager-header"><%= t('simple_form.users.login.titles.welcome') %></h1>

      <div class="form-group">
        <% if alert %>
          <div class="alert alert-danger"><%= alert %></div>
        <% end %>
      </div>

      <div class="form-inputs w-100">
        <%= f.input :email,
                    label: false,
                    placeholder: "Email", 
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: false,
                    placeholder: t('simple_form.users.login.placeholders.password'),
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <%= f.button :submit, "Log in", class: "btn button--primary w-100", data: { turbo: false } %>

    <% end %>
  
    <div class="bonus-actions">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
