<div data-controller="install-prompt">
  <div class="install-prompt-backdrop" data-install-prompt-target="backdrop">
  </div>

  <div class="install-prompt-modal" data-install-prompt-target="installPromptModal">

    <h1><%= t('install_prompt.title') %> 🖐️</h1>

    <div class="install-prompt-content">

      <div data-install-prompt-target="iosSafari" style="display: none;">
        <%= render 'dashboards/install_prompt_variants/ios_safari' %>
      </div>
      <div data-install-prompt-target="androidChromeEdge" style="display: none;">
        <%= render 'dashboards/install_prompt_variants/android_chrome_and_edge' %>
      </div>
      <div data-install-prompt-target="desktopChromeEdge" style="display: none;">
        <%= render 'dashboards/install_prompt_variants/desktop_chrome_and_edge' %>
      </div>
      <div data-install-prompt-target="fallbackPlatform" style="display: none;">
        <%= render 'dashboards/install_prompt_variants/fallback' %>
      </div>

    </div>

    <div class="install-prompt-actions" data-install-prompt-target="actionsContainer">
      <button class="button-delete" 
              data-install-prompt-target="dismissButton"
              data-skip-text="<%= t('install_prompt.actions.skip') %>"
              data-noted-text="<%= t('install_prompt.actions.noted') %>"
              data-action="click->install-prompt#dismiss">
        <%= t('install_prompt.actions.noted') %>
      </button>
      <button class="btn button--primary" 
              data-install-prompt-target="installButton" 
              data-action="click->install-prompt#install"
              style="display: none;">
        <%= t('install_prompt.actions.install') %>
      </button>
    </div>

  </div>

</div>