<div class="loading-screen" data-controller="loading" >
  <%= image_tag "five.png", class: "logo", alt: "Five Things Logo" %>
</div>

<div class="container mt-1">
  <div class="dash-box mx-2 my-3">
    <h1><%= time_based_greeting %> <%= current_user ? current_user.first_name : "Sunshine" %> <%= time_based_emoji %></h1>
    <div class="my-3">
      <h3>Current Happy Streak</h3>
      <p><%= pluralize(current_user.happy_streak, 'day') %></p>
    </div>
  </div>

  <div class="dash-box mx-2 my-3">
      <h3>Quote of the day</h3>
        <% if @random_quote %>
          <p><%= @random_quote %></p>
        <% else %>
          <p>Sorry, no quote available today.</p>
        <% end %>
  </div>

  <!-- Section: Happy Things of the last days -->
  <div class="dash-box mx-2 my-3">
    <h3>What made you happy</h3>
    <% @happy_things_of_the_last_two_days.each do |user, happy_things| %>
      <h5 class="mt-3"><%= user.emoji %> <%= user.first_name %></h5>
      <% happy_things.each do |happy_thing| %>
        <%= render 'happy_things/happy_thing', happy_thing: happy_thing %>
      <% end %>
    <% end %>
  </div>

  <!-- Section: Calendar -->
  <%= render 'calendar' %>

  <!-- Section: HappyThings List -->
  <div data-controller="insert-in-list">
    <div class="div dash-box p-4 mx-2 my-3">
      <h3>What made you happy today?</h3>
      <%= render 'happy_things/form', happy_thing: @happy_thing %>
    </div>

    <div id="happy_things" class="m-2 mt-5"
      data-notification-target="happyThings"
      data-insert-in-list-target="items">
      <h3 class="mb-3">Your Happy Things of today</h3>
      <% @happy_things_today.each do |user, happy_things| %>
        <h3><%= user.emoji %> <%= user.first_name %></h3>
        <% happy_things.each do |happy_thing| %>
          <%= render "happy_things/happy_thing", user: user, happy_thing: happy_thing %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Section: Happy Things Through the Years -->
  <div class="m-2 mt-5 mx-2 my-3" data-controller="toggle">
    <h3 class="mb-3">Through the years...</h3>
    <a data-action="click->toggle#fire" class="btn button--primary">Read more...</a>

    <% current_year = Date.current.year %>

    <div data-toggle-target="togglableElement" class="d-none">
      <% if @happy_things_by_date.any? %>
        <% @happy_things_by_date.group_by { |ht| ht.start_time.year }.sort.reverse.each_with_index do |(year, year_happy_things), index| %>
          <% next if year == current_year %>

          <div class="p-2" style="border-radius: 0.375rem; background-color: <%= index.even? ? '#f8f9fa' : '#f1f3f5'; %>;">
            <h3><%= year %></h3>
            <% year_happy_things.group_by(&:user).each do |user, happy_things| %>
              <div class="dash-box mb-4">
                <h5><%= user.emoji %> <%= user.first_name %></h5>
                <ol>
                  <% happy_things.each do |happy_thing| %>
                    <li>
                      <%= link_to happy_thing.title, happy_things_by_date_path(date: happy_thing.start_time.strftime('%Y-%m-%d')), style: "text-decoration: none; color: inherit;" %>
                    </li>
                  <% end %>
                </ol>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="opacity-50">No Happy Things found for today in past years.</p>
        <%= link_to 'Add a Happy Thing from a past year', old_happy_thing_path, class: "btn button--primary" %>
      <% end %>
    </div>
  </div>



  <div class="m-2 mt-5 mx-2 my-3">
    <h3 class="mb-3">Forgot something?</h3>
      <%= link_to 'Add old Happy Thing', old_happy_thing_path, class: "btn shadow" %>
  </div>

  <!-- Section: Notifications -->
  <!-- <div class="dash-box p-4 mx-2 my-3"> -->
    <%#= link_to "Notify me", "#", data: { action: "click->notification#sendNotification" }, class: "btn shadow" %>          
  <!-- </div> -->
</div>
