<main class="container">
  <div class="header">
      <% if current_user %>
        <h2>Hi, <%= current_user.first_name.nil? ? "Sunshine" : current_user.first_name %>! And welcome to your Dashboard!👋</h2>
        <% if true %>
        <%= link_to "What made you smile today?",
            new_happy_thing_path,
            class: "btn" %>
        <% end %>
  </div>

    <h3>Your Happy Things of today</h3>
      <%= render @happy_things %>
      <%= link_to "Edit Profile", edit_user_registration_path %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn" %>
      <% else %>
      <% end %>
</main>
