<%# ? Loading Screen with Logo %>
<div class="loading-screen" data-controller="loading" >
  <%= image_tag "five.png", class: "logo", alt: "Five Things Logo" %>
</div>

<%# ? Dashboard %>
<div class="container p-3 text-center">
<div class="dash-box">
  <h2 class="mb-5 dashboards_header">Hi, <%= current_user.first_name || "Sunshine"%>, and welcome to your Dashboard! ☀️</h2>
  <p><%= @ai_happy_thing %></p>
</div>
    <%# ? Calendar %>
    <%= month_calendar(events: @happy_things, param_name: :date) do |date, happy_things_bubbles| %>
      <div class="day">
        <%= link_to happy_things_by_date_path(date: date.strftime('%Y-%m-%d')), class: 'calendar-day-link' do %>
          <%= date.day %>
        <% end %>
      </div>
      <% if happy_things_bubbles.any? %>
        <% unique_users = happy_things_bubbles.map(&:user).uniq %>
        <% unique_users.each do |user| %>
          <div class="event-indicator"><%= user.emoji %></div>
        <% end %>
      <% end %>
    <% end %>

  <%= turbo_frame_tag "happy_things_frame_after_create" do  %>
    <%= turbo_frame_tag "happy_things_frame_one" do %>
      <%= link_to 'What made you happy today?',
          new_happy_thing_path,
          class: "btn btn-blue shadow m-4 mt-5" %>
  <% end %>


    <%# ? HappyThings %>
    <div class="m-2 mt-5">
      <h3 class="mb-3">Your Happy Things of today</h3>
      <% @happy_things_today.each do |user, happy_things| %>
        <h4><%= user.emoji %> <%= user.first_name %></h4>
          <%= render "happy_things/happy_thing", user: user, happy_things: happy_things %>
      <% end %>
    </div>
  <% end %>


<%# ? PoetrySection %>
<div class="m-2 mt-5 poetry-box">
  <% if @random_poem %>
    <h3><%= @random_poem["title"] %></h3>
    <h4>by <%= @random_poem["author"] %></h4>
    <% @random_poem["lines"].each do |line| %>
      <p><%= line %></p>
    <% end %>
  <% else %>
    <p>Sorry, could not find a poem today 🙁</p>
  <% end %>
</div>


  <%# ? Today one year ago Section %>
  <div class="m-2 mt-5">
    <h3 class="mb-3">Today one year ago...</h3>
    <% if @happy_things_one_year_ago.any? %>
      <% @happy_things_one_year_ago.group_by(&:user).each do |user, happy_things| %>
        <h4><%= user.emoji %> <%= user.first_name %></h4>
        <ol>
          <% happy_things.each do |happy_thing| %>
            <li><%= happy_thing.title %></li>
          <% end %>
        </ol>
      <% end %>
    <% else %>
      <p>No Happy Things found for this date one year ago.</p>
      <%= link_to 'Add an old Happy Thing from last year', old_happy_thing_path, class: "btn btn-blue shadow" %>
      <!-- Add a form to allow adding a Happy Thing for this date -->
    <% end %>
  </div>

  <div class="m-2 mt-5">
    <h3 class="mb-3">Forgot something?</h3>
      <%= link_to 'Add old Happy Thing', old_happy_thing_path, class: "btn shadow" %>
  </div>

  <%= link_to 'See all Happy Things', happy_things_path, class: "btn btn-blue mt-4" %>

  <div class="mt-5">
    <% if user_signed_in? %>
      <%= link_to "Edit Profile", edit_user_registration_path %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
