<nav class="navbar navbar-media sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

      <a class="navbar-brand" href="<% link_to root_path, class: "navbar-brand"%>">
        <%= image_tag 'five.png', width: "40", height: "40", class: "d-inline-block align-text-top" %>
      </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" id="offcanvasMenu">
      <div class="offcanvas-body">
        <div class="navbar-nav">
          <%= link_to "Home", root_path, class: "nav-link" %>
          <%= link_to "/future_root", future_root_path, class: "nav-link" %>
          <%= link_to "Recent Happy Things", friends_happy_things_path, class: "nav-link" %>
          <%= link_to "Calendar", calendar_path, class: "nav-link" %>
          <%= link_to "Through the Years", through_the_years_path, class: "nav-link" %>
          <%= link_to "Friends", friends_path, class: "nav-link" %>
          <%= link_to "New Happy Thing", new_happy_thing_path, class: "nav-link" %>
          <%= link_to "Old Happy Thing", happy_things_old_happy_thing_path, class: "nav-link" %>
          <%= link_to "Profile", profile_path, class: "nav-link" %>
          <%= link_to "Settings", settings_path, class: "nav-link" %>
          <hr>
          <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: "delete"}, class:"nav-link" %>
        </div>
      </div>
    </div>
  </div>
</nav>
