<!DOCTYPE html>
<html>
  <head>
    <title>Five Things</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# PWA - iOS %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="5 Things">
    <link rel="apple-touch-icon" href="<%= asset_path('five.png') %>">
    
    <%# PWA - Android %>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#FAF9F6">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="<%= asset_path('five.png') %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body data-controller="notification service-worker" data-notification-target="notification">
    <%= render partial: 'layouts/navbar' if render_navbar?  %>
    <%= yield %>
    <%= render partial: 'layouts/alerts'  %>
  </body>
</html>
